@font-face {
  font-family: 'BrandonGrotesque';
  src: url('Brandon_blk.otf') format('opentype');
  font-weight: bolder;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('Brandon_bld.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('Brandon_med.otf') format('opentype');
  font-weight: normal;
}
