@font-face {
  font-family: 'ProximaNova';
  src: url('MarkSimonson-ProximaNovaBold.otf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('MarkSimonson-ProximaNovaRegular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('MarkSimonson-ProximaNovaLight.otf') format('opentype');
  font-style: lighter;
}
