$transparent: transparent;
$teal: #75DEC5;
$lightBlue: #2CABE2;
$grey: #A6A9AB;
$paleBlue: #5682B2;
$darkBlue: #16385E;
$blue: #275482;
$white: #FFFFFF;
$offWhite: #F1F5F8;
$lightGrey: #C7D2DC;
$darkGrey: #696969;
$pastelGreen: #84E2D0;
$lightWhite: #fcfcfc;
$charcoalBlack: #7c7c7c;
$transparentBlack: rgba(0,0,0,0.7);

:export { teal: $teal; }
:export { lightBlue: $lightBlue; }
:export { grey: $grey; }
:export { paleBlue: $paleBlue; }
:export { darkBlue: $darkBlue; }
:export { blue: $blue; }
:export { white: $white; }
:export { offWhite: $offWhite; }
:export { lightGrey: $lightGrey; }
:export { darkGrey: $darkGrey; }
:export { pastelGreen: $pastelGreen; }
:export { lightWhite: $lightWhite; }
:export { charcoalBlack: $charcoalBlack; }
:export { transparentBlack: $transparentBlack; }
