@import '../constants/colors.module.scss';

.contentSection {
  h2 {
    padding-top: 3em !important;
    font-size: 5vmin !important;
  }

  .textField {
    display: inline-flex;
    pa
  }

  .textFieldMap {
    width: 13%;
    margin-right: 13px !important;
  }
}
