@import "../constants/colors.module.scss";

.careerListCard {
  border: 1px solid $white;
  border-radius: 3px;
  color: $blue;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  display: flex;
  margin-bottom: 0.5em;
  width: 37em;

  .careerListImg {
    width: 4em;
    height: auto;
    padding: 0px 5px 20px;
    margin-top: -5em;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0em;
    background: $offWhite;
    width: 30em;
  }

  .careerListing {
    padding-left: 20px;
    text-transform: UPPERCASE;

    .jobDate {
      display: flex;
      margin-top: -1.1em;

      .imgClock {
        width: 0.67em;
        margin-top: -0.2em;
      }

      .clockDate {
        font-size: 11px;
        padding-left: 0.7em;
        color: $lightGrey;
        text-transform: none;
      }
    }

    .jobLocation {
      display: flex;
      margin-top: -4.1em;
      margin-bottom: -0.8em;

      .imgLocation {
        width: 0.67em;
        margin-left: 5.5em;
        margin-top: 25px;
      }

      .jobCity {
        margin-top: 2.7em;
        padding-left: 0.7em;
        font-size: 11px;
        color: $lightGrey;
        text-transform: none;
      }
    }

    .jobDescription {
      font-size: 11px;
      color: $lightGrey;
      text-transform: none;
      margin-bottom: 0.8em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 550px;
      padding-right: 3em;
    }

    .work {
      font-weight: bold;
      color: $grey;
      font-size: 10px;
      text-transform: none;
    }

    .workType {
      font-weight: lighter;
    }

    .readMore {
      border-radius: 5px;
      margin-right: 10px;
      border-color: $lightBlue;
      color: $lightBlue;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 15px;
      letter-spacing: 1px;
    }
    .apply {
      border-radius: 5px;
      background-color: $lightBlue;
      margin-right: 10px;
      border-color: $lightBlue;
      color: $white;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 28px;
      letter-spacing: 1px;
    }
  }
}


@media (max-width: 1241px) {
  .careerListCard {
    hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 0em;
      width: 30em;
    }

    .careerListing {
      .jobDescription {
        font-size: 11px;
        color: $lightGrey;
        text-transform: none;
        margin-bottom: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 550px;
        padding-right: 10em;
      }
    }
  }
}

@media (max-width: 923px) {
  .careerListCard {
    width: 53em;
    margin-left: -5em;

     h4 {
       margin-bottom: 1em;
     }

     hr {
       width: 37em;
     }

    .careerListImg {
      width: 9em;
      height: auto;
    }

    .careerListing {
      .jobDate {
        display: inline-flex;
        margin-top: -9em;
        margin-bottom: -2em;

        .imgClock {
          margin-top: -0.5em;
          width: 1em;
        }
      }

      .jobDescription {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 330px;
        padding-right: 3em;
      }

      .jobLocation {
        display: inline-flex;
        margin-top: -9em;
        margin-bottom: -2em;

        .imgLocation {
          width: 1em;
        }
      }

      .readMore {
        margin-top: 1em;
      }
    }
  }
}

@media (max-width: 799px) {
  .careerListCard {
    width: 45em;

    hr {
      width: 29em;
    }

    .careerListImg {
      height: auto;
      margin-top: -11em;
    }

    .careerListing {
      padding-left: 9px;

      .jobDate {
        .clockDate {
          padding-left: 0.4em !important;
        }
      }

      .jobDescription {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 260px;
        padding-right: 3em;
      }

      .jobLocation {
        .imgLocation {
          margin-left: 1.6em !important;
        }

        .jobCity {
          padding-left: 0.2em !important;
        }
      }
    }
  }
}

@media (max-width: 744px) {
  .careerListing {
    .readMore {
      font-size: 9px;
      margin-bottom: 1em;
    }
  }
}

@media (max-width: 636px) {
  .careerListCard {
    width: 147%;
    margin-left: -22em;

    .careerListImg {
      margin-left: -2em;
    }
  }
}

@media (max-width: 587px) {
  .careerListCard {
    width: 162%;
    margin-left: -8.3em;

    hr {
      display: none;
    }

    .careerListImg {
      width: 3.5em;
      margin-top: -7em;
      margin-left: -1em;
    }
  }
}

@media (max-width: 497px) {
  .careerListCard {
    width: 232%;
    margin-left: -5.7em;
  }
}

@media (max-width: 438px) {
  .careerListCard {
    width: 232%;
    margin-left: -4.7em;
  }
}
