@import "../constants/colors.module.scss";

.colorWhite {
    :global(h2), :global(h4) {
        color: $white;
    }
}

.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}


.h2, .h4 {
    text-align: center;
    padding: 0 15px;
}

.h2 {
    font-size: 7vmin;
    color: $paleBlue;
    text-transform: uppercase;
}

.h4 {
    color: $darkGrey;
    font-size: 1.1rem;
    font-weight: normal;
}

@media(max-width: 620px) {
    .h4 {
        font-size: .8rem;
    }
}