@import "../constants/colors.module.scss";

.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    h2, p {
        text-align: center;
        padding: 0 15px;
    }

    h2 {
        font-size: 7vmin;
        color: $paleBlue;
        text-transform: uppercase;
    }

    p {
        color: $darkGrey;
        font-size: 1.1rem;
        font-weight: normal;
    }

    &.sectionImageBackground {
        h2, p {
            color: $white;
        }
    }
}




@media(max-width: 620px) {
    .wrapper {
        p {
            font-size: .8rem;
        }
    }
}