@import "bourbon";
@import "neat";

.TransparentBox {
  background-color: rgba(22,56,94,0.3);
  margin: 30px;
  height: 18em;
  width: 52em;
}

.VerticalLine {
  height: 15.2em;
  width: 1px;
  background: #ffffff;
  margin-right: 21px;
  left: 10px;
}

.MenuList {
  color: #ffffff;
  display: inline-flex;
  padding: 24px 25px 0px 0px;
}

.MenuListHeading {
  text-transform: uppercase;
  font-family: BrandonGrotesque-Bold;
  font-size: 14px;
  padding: 0px 0px 5px 0px;
}

.MenuListItems {
  font-family: ProximaNova-Regular;
  font-size: 13px;
  list-style-type: none;
  padding: 0px 33px 0px 0px;
}
