@import '../constants/colors.module.scss';

.newsContainer {
  margin-left: -2em;
  margin-top: 1em;
}

.columnSpacing {
  margin-left: -1em;
}

.columnContent {
  color: $white;
  margin-top: -6em;
  font-size: 10px;
  padding: 0em 2em 0em 2em;
}

.sideNews {
  margin-left: 5em;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 0px solid $white;
  box-shadow: 0px 0px 16px 0px #ccc;
  transition: box-shadow .5s;
  padding: 1.5em 1em 1em 1em;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $blue;
  }

  .newsTitle {
    color: $grey;
    text-transform: uppercase;
    padding-left: 8px;
  }

  .newsList {
    font-size: 11.5px;
    color: $blue;
    font-weight: bold;
    line-height: 13px;
    margin-left: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
  }
}

.financialBlock {
  border: 1px solid $darkThunder;
  margin-left: 4.8em;
  background-color: $darkThunder;
  margin-bottom: 2em;
  width: 69.8em;

  .financialContent {
    text-transform: uppercase;
    display: flex;
    padding-top: 1.4em;
    padding-left: 3em;
    padding-bottom: -4em;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: -1em !important;
    letter-spacing: 1.2px;

    .financialText {
      color: $white;
    }
  }
}

@media (max-width: 1980px) {
  .financialBlock {
    margin-left: 3em;
    width: 98em;
  }
}

@media (max-width: 1880px) {
  .financialBlock {
    width: 89.2em;
  }
}

@media (max-width: 1750px) {
  .financialBlock {
    width: 84em;
  }
}

@media (max-width: 1650px) {
  .financialBlock {
    width: 82em;
  }
}

@media (max-width: 1580px) {
  .financialBlock {
    margin-left: 3em;
    width: 71.7em;
  }
}

@media (max-width: 1420px) {
  .financialBlock {
    margin-left: 3em;
    width: 69.5em;
  }
}

@media (max-width: 1320px) {
  .columnContent {
    margin-top: -7em;
  }

  .sideNews {
    margin-left: 3em;
  }


  .financialBlock {
    margin-left: 3em;
    width: 65em;
  }
}

@media (max-width: 1280px) {
  .financialBlock {
    margin-left: 3em;
    width: 62.3em;
  }
}

@media (max-width: 1200px) {
  .newsContainer {
    margin-left: 18px;
  }

  .sideNews {
    margin-left: 1.7em;
  }

  .financialBlock {
    margin-left: 2em;
    width: 59em;
  }
}

@media (min-width: 1130px) and (max-width: 1178px) {
  .financialBlock {
    width: 57em;
  }
}

@media (min-width: 1000px) and (max-width: 1129px) {
  .financialBlock {
    width: 49em;
  }
}
@media (max-width: 980px) {
  .newsContainer {
    margin-left: 28px;
  }

  .sideNews {
    margin-left: -.8em;
    padding: 1.5em .2em 1em .2em;
  }

  .financialBlock {
    margin-left: -1em;
    width: 43em;
  }
}

@media (max-width: 850px) {
  .newsContainer {
    margin-left: 1.1em;
  }

  .columnContent {
    margin-top: -8em;
    padding: 1em;
  }

  .financialBlock {
    margin-left: -1em;
    width: 40em;
  }
}

@media (max-width: 766px) {
  .sideNews {
    .newsList {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 650px;
    }
  }

  .financialBlock {
    margin-left: -1em;
    width: 36em;
  }
}

@media (max-width: 620px) {
  .newsContainer {
    margin-left: 1em;
  }

  .sideNews {
    display: none;
  }

  .financialBlock {
    margin-left: -1em;
    width: 29.2em;

    .financialText {
      font-size: 9px;
      margin-left: -2em;
    }
  }
}
