@import "bourbon";
@import "neat";
@import '../constants/colors.module.scss';

.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;

  .productInfo {
    border: 1px solid $grey;
    background: $white;
    text-align: center;
    padding:10px 30px;
    margin:5px;
  }

  .productImage {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }

  h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: $paleBlue;
    margin-bottom: 10px;
  }
    
  p {
    color: $lightGrey !important;
    padding: 0px 28px; 
    font-size: 13px !important;
  }
  
  .HorizontalLine {
    height: 1px;
    width: 100%;
    background: $lightGrey;
  }
}

@media only screen and (max-width: 1536px) and (min-width: 1150px)  {
  .productContainer {
    display: inline-flex;
  }
}