@import "../constants/colors.module.scss";

.SavingsTypeCard {
  border: 1px solid $white;
  display: flex;
  width: 45em;
  padding-left:5em; 

  .SavingsTypeImg {
    height: 200px;
    display: flex;
  
  }
  .SavingsTypeList {
    padding-left: 20px;
    }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-width: 0em;
    background: #F1F5F8;
  }
    .BtnFeatures {
      margin-right: 10px;
      background-color: #5682b2;
      color: #ffffff;;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      padding: 10px 35px;
      border-radius: 25px 25px 25px 5px;
      font-family: BrandonGrotesque;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1.8px;
      text-align: center;
    
    }
    .BtnRequirements {
      border-radius: 5px;
      margin-right: 13px;
      background-color:#f1f5f8; 
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 25px 25px 25px 5px;
      font-family: BrandonGrotesque;
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1.8px;
      text-align: center;
      color: #326894;

    }
    .BtnEnquire {
      border-radius: 5px;
      background-color: #2cabe2;
      color: $white;
      text-transform: uppercase;
      padding: 10px 28px;
      font-family: BrandonGrotesque;
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 1.8px;
      text-align: center;
      color: #ffffff;
      margin-left: 80px;
    }

    .title {
      text-transform: uppercase;
      font-family: BrandonGrotesque;
      font-size: 40px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #326894;
      margin-bottom: 0px;
    }

    .type {
      font-family: BrandonGrotesque;
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      color: #7c7c7c;
      margin-bottom: 5px;
    }

    .description {
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #b5b8b9;

    }

    .featuresList {
      font-family: ProximaNova;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #b5b8b9;
    }

    .features {
      text-transform: uppercase;
      font-family: ProximaNova;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #326894;
      margin-bottom: 0px;
    } 
  }


@media (max-width: 924px) {
  .SavingsTypeCard {
     h4 {
       margin-bottom: 1em;
     }
    .SavingsTypeImg {
      width: 9em;
      height: auto;
     }

    }
  }

@media (max-width: 636px) {
  .SavingsTypeCard {
    width: 135%;
    margin-left: -19em;
  }
}

@media (max-width: 587px) {
  .SavingsTypeCard {
    width: 145%;
    margin-left: -6.7em;
  }
}

@media (max-width: 497px) {
  .SavingsTypeCard {
    width: 232%;
    margin-left: -5.7em;
  }
}

@media (max-width: 438px) {
  .SavingsTypeCard {
    width: 232%;
    margin-left: -4.7em;
  }
}
