@import "bourbon";
@import "neat";
@import "../constants/colors.module.scss";

input {
  width: 20em;
  padding: 8px 13px;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $white;
}

.mapPlaceholder {
  margin: 0em .5em 0em 19em;
  justify-content: center;
  background: url(../img/location.svg) no-repeat scroll 7px 7px;
  background-color: $white;
  padding-left: 33px;
  width: 13em;
}
