@import "bourbon";
@import "neat";
@import "../constants/colors.module.scss";

input {
  width: 20em;
  padding: 8px 13px;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $white;
}
